/*.card-wrapper {*/
    /*width: 209px;*/
    /*margin: .4%;*/
    /*float: left;*/
    /*background-color: #5cb85c;*/
    /*color: white;*/
    /*padding: 16px;*/
    /*border-radius: 1px;*/
/*}*/

/*.color--red {*/
    /*background-color: #d9534f;*/
/*}*/
/*.color--blue{*/
    /*background-color: #5bc0de;*/
/*}*/
/*.color--darkBlue{*/
    /*background-color:  #428bca;*/
/*}*/
/*.color--yellow {*/
    /*background-color: #FFD333;*/
/*}*/


/* Float four columns side by side */

.right-justified{

    text-align: right;
}

.label {
    font-size: 20px;
    display: inline-block;
    width: 140px;
    text-align: right;
}​
.enroll-button{

    /*width: 100%;*/
    /*borderRadius: 5px;*/
    /*letterSpacing: 1.5px;*/
    /*marginTop: 1rem;*/

}


.column {
    float: left;
    width: 50%;
    padding: 0 15px;
}

/* Remove extra left and right margins, due to padding in columns */
/*.row {margin: 0 -5px;}*/

/* Clear floats after the columns */
/*.row:after {*/
    /*content: "";*/
    /*display: table;*/
    /*clear: both;*/
/*}*/

/* Style the cards */

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
    padding: 30px;
    text-align: left;
    background-color: #ddf3ff;
    display: flex;
    flex-direction: column;
    margin-bottom: 2.5rem;

}
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.75);
}

.card-title{
    font-weight: bold;

    text-align: center;
}

/* Responsive columns - one column layout (vertical) on small screens */
/*@media screen and (max-width: 600px) {*/
    /*.column {*/
        /*width: 100%;*/
        /*display: block;*/
        /*margin-bottom: 20px;*/
    /*}*/
/*}*/


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: center; /* Stay in place */
    z-index: 2; /* Sit on top */
    left: 50%;
    top: 50%;
    /*width: 50%; !* Full width *!*/
    /*height: 50%; !* Full height *!*/
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.3); /* Black w/ opacity */
    transform: translate(-50%, -50%);
}

/* Modal Content/Box */
.modal-content {

    font-color: #fefefe;
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 2px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}



/* The container must be positioned relative: */
.custom-select {
    position: relative;
    font-family: Arial;
}

.custom-select select {
    display: none; /*hide original SELECT element: */
}

.select-selected {
    background-color: DodgerBlue;
}

/* Style the arrow inside the select element: */
.select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top: 7px;
}

/* style the items (options), including the selected item: */
.select-items div,.select-selected {
    color: #ffffff;
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
}

/* Style items (options): */
.select-items {
    position: absolute;
    background-color: DodgerBlue;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
}

/* Hide the items when the select box is closed: */
.select-hide {
    display: none;
}

.select-items div:hover, .same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
}